<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css"/>
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css"/>
    <title>博客发布</title>
</head>
<body class="index-bg">
<!--导航-->
<nav th:replace="admin/_fragments :: menu(1)" class="ui attached segment m-padded-tb-mini m-shadow-mini">
    <div class="ui container">
        <div class="ui  secondary stackable menu">
            <h2 class="ui violet header item">ShellBookAdmin</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clipboard icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right m-item item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/images/headicon.png" alt="" class="ui avatar image">
                        Albatross
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle icon button m-right-top m-mobile-show">
        <i class="bars icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/input}" class="violet active item">博客发布</a>
            <a href="#" th:href="@{/admin/blogs}" class="item">博客管理</a>
        </div>
    </div>
</div>
<!--中间内容 -->
<div class="m-container m-padded-td-large">
    <div class="ui container">
        <form id="blog-form" action="#" th:object="${blog}" th:action="@{/admin/blogs}" method="post" class="ui form">
            <!--隐藏域处理是否发布-->
            <input type="hidden" name="published">
            <input type="hidden" name="id" th:value="*{id}">
            <div class="required field">
                <div class="ui left labled input">
                    <div class="ui selection compact violet basic dropdown lable">
                        <input type="hidden" value="原创" name="flag" th:value="*{flag}">
                        <i class="dropdown icon"></i>
                        <div class="text">博客性质</div>
                        <div class="menu">
                            <div class="item" data-value="原创">原创</div>
                            <div class="item" data-value="转载">转载</div>
                            <div class="item" data-value="翻译">翻译</div>
                        </div>
                    </div>
                    <input type="text" name="title" placeholder="标题" th:value="*{title}">
                </div>
            </div>
            <div class="required field">
                <div id="md-content" style="z-index: 1 !important;">
                    <textarea placeholder="博客内容" name="content" style="display: none" th:text="*{content}"></textarea>
                </div>
            </div>
            <!-- 标签和分类 -->
            <div class="two fields">
                <div class="required field">
                    <div class="ui left labeled action input">
                        <label class="ui compact violet basic label">分类</label>
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="type.id" th:value="*{type}!=null ? *{type.id}">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left labeled action input">
                        <label class="ui compact violet basic label">标签</label>
                        <div class="ui fluid multiple selection search dropdown">
                            <input type="hidden" name="tagIds" th:value="*{tagIds}">
                            <i class="dropdown icon"></i>
                            <div class="default text">标签</div>
                            <div class="menu">
                                <div th:each="tag : ${tags}" class="item" data-value="1" th:data-value="${tag.id}" th:text="${tag.name}">错误日志</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 图片 -->
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui violet basic label">首图</label>
                    <input type="text" name="firstPicture" th:value="*{firstPicture}" placeholder="首图引用地址">
                </div>
            </div>
            <!--博客描述-->
            <div class="required field">
                <textarea name="description" th:text="*{description}" placeholder="博客描述..." maxlength="200"></textarea>
            </div>
            <!-- 勾选项 -->
            <div class="inline fields">
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend" checked="checked" th:checked="*{recommend}" class="hidden">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="shareStatement" name="shareStatement" th:checked="*{shareStatement}" class="hidden">
                        <label for="shareStatement">转载声明</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="commentabled" name="commentabled" th:checked="*{commentabled}" class="hidden">
                        <label for="commentabled">评论</label>
                    </div>
                </div>
            </div>
            <!-- 错误提示 -->
            <div class="ui error message"></div>
            </br>
            <!-- 最终操作 -->
            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button type="button" id="save-btn" class="ui blue button">保存</button>
                <button type="button" id="publish-btn" class="ui violet button">提交</button>
            </div>
        </form>
    </div>
</div>
</br>
</br>
<!--右下角浮动的图标-->
<!-- <div id="toolbar" class="m-padded m-fixed m-right-bottom" style="display: none">
    <div class="ui vertical icon buttons ">
        <button type="button" class="ui toc pink button" >目录</button>
        <a href="#comment-container" class="ui pink button" >留言</a>
        <button class="ui wechat icon button"><i class="weixin icon"></i></button>
        <div id="toTop-button" class="ui icon button" ><i class="chevron up icon"></i></div>
    </div>
</div>
<div class="ui toc-container flowing popup transition hidden" style="width: 250px!important;">
    <ol class="js-toc">
    </ol>
</div>
<div id="qrcode" class="ui wechat-qr flowing popup transition hidden "style="width: 130px !important;">
    <img src="static/images/wechat.jpg" alt=""  class="ui rounded image" style="width: 120px !important;">
</div>
<br>
<br> -->
<!-- 底部 -->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-td-huge ">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid">
            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image" style="width: 110px"/>
                    </div>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header m-text-thin m-text-space">联系方式</h4>
                <div class="ui inverted link list">
                    <a class="item">Email:1055105576@qq.com</a>
                    <a class="item">QQ:1055105576</a>
                    <a class="item">微信:f1055105576</a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header m-text-thin m-text-space">Albatross</h4>
                <p class="m-text-thin m-text-space m-opacity-mini">个人博客平台、主要用来记录一下学习、工作、生活各个方面值得记录的信息，自己做的第一个项目！</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-space m-opacity-mini">Copyright © 2020 - 2021 ShellBook Designed by Albatross</p>
    </div>
</footer>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<script>
    // 初始化markdown编辑器
    var containerEditor;
    $(function () {
        testEditor = editormd("md-content", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
            // path: "../static/lib/editormd/lib/"
            path: "/lib/editormd/lib/"
        });
    });
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    //点击保存把隐藏域按钮的是否发布设置成否
    $('#save-btn').click(function () {
        $('[name="published"]').val(false);
        $('#blog-form').submit();
    });

    //点击发布把隐藏域按钮的是否发布设置成是
    $('#publish-btn').click(function () {
        $('[name="published"]').val(true);
        $('#blog-form').submit();
    });

    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'title',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入博客标题！'
                }]
            },
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入博客内容！'
                }]
            },
            typeId: {
                identifier: 'typeId',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入博客分类！'
                }]
            },
            firstPicture: {
                identifier: 'firstPicture',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入博客首图！'
                }]
            },
            description: {
                identifier: 'description',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入博客描述！'
                }]
            }
        }
    });
</script>
</body>
</html>
