<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css"/>
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css"/>
    <title>分类管理</title>
</head>
<body class="index-bg">
<!--导航-->
<nav th:replace="admin/_fragments :: menu(2)" class="ui attached segment m-padded-tb-mini m-shadow-mini">
    <div class="ui container">
        <div class="ui  secondary stackable menu">
            <h2 class="ui violet header item">ShellBookAdmin</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="clipboard icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right m-item item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/images/headicon.png" alt="" class="ui avatar image">
                        Albatross
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle icon button m-right-top m-mobile-show">
        <i class="bars icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/types/input}" class="violet active item">分类新增</a>
            <a href="#" th:href="@{/admin/types}" class="item">分类列表</a>
        </div>
    </div>
</div>
<!--中间内容 -->
<div class="m-container m-padded-td-large">
    <div class="ui container">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <form action="#" method="post" th:object="${type}" th:action="*{id}==null ? @{/admin/types} : @{/admin/types/{id}(id=*{id})}" class="ui form">
            <input type="hidden" name="id" th:value="*{id}">
            <!-- 分类 -->
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui violet basic label">名称</label>
                    <input type="text" name="name" placeholder="分类名称" th:value="*{name}">
                </div>
            </div>
            <!-- 错误提示 -->
            <div class="ui error message"></div>
            <!--/*/
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                <i class="close icon"></i>
                <div class="header">验证失败：</div>
                <p th:errors="*{name}">提交信息不符合规则！</p>
            </div>
            /*/-->
            </br>
            <!-- 最终操作 -->
            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button class="ui violet submit button">提交</button>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </form>
    </div>
</div>
</br>
</br>
<!--右下角浮动的图标-->
<!-- <div id="toolbar" class="m-padded m-fixed m-right-bottom" style="display: none">
    <div class="ui vertical icon buttons ">
        <button type="button" class="ui toc pink button" >目录</button>
        <a href="#comment-container" class="ui pink button" >留言</a>
        <button class="ui wechat icon button"><i class="weixin icon"></i></button>
        <div id="toTop-button" class="ui icon button" ><i class="chevron up icon"></i></div>
    </div>
</div>
<div class="ui toc-container flowing popup transition hidden" style="width: 250px!important;">
    <ol class="js-toc">
    </ol>
</div>
<div id="qrcode" class="ui wechat-qr flowing popup transition hidden "style="width: 130px !important;">
    <img src="static/images/wechat.jpg" alt=""  class="ui rounded image" style="width: 120px !important;">
</div>
<br>
<br> -->
<!-- 底部 -->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-td-huge ">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid">
            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image" style="width: 110px"/>
                    </div>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header m-text-thin m-text-space">联系方式</h4>
                <div class="ui inverted link list">
                    <a class="item">Email:1055105576@qq.com</a>
                    <a class="item">QQ:1055105576</a>
                    <a class="item">微信:f1055105576</a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header m-text-thin m-text-space">Albatross</h4>
                <p class="m-text-thin m-text-space m-opacity-mini">个人博客平台、主要用来记录一下学习、工作、生活各个方面值得记录的信息，自己做的第一个项目！</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-space m-opacity-mini">Copyright © 2020 - 2021 ShellBook Designed by Albatross</p>
    </div>
</footer>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<script>
    // 初始化markdown编辑器
    var containerEditor;
    $(function () {
        testEditor = editormd("md-content", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
            path: "../static/lib/editormd/lib/"
        });
    });
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'name1',
                rules: [{
                    type: 'empty',
                    prompt: '请输入分类名称！'
                }]
            }
        }
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click',function () {
            $(this)
                .closest('.message')
                .transition('fade');
        })
</script>
</body>
</html>
